# Database
POSTGRES_URL=postgresql://dev_user:dev_password@localhost:5432/postgres_dev

# Authentication - Better Auth
# Generate key using https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=your-secret-key-here

# App URL (for production deployments)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SKIP_AUTH=false

# Environment: dev or prod
ENV=dev
